﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">test</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DINOZOO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>*@


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="header">
                <div id='cssmenu'>
                    <ul>
                        <li class="active"><a href='~/Home'><span>DinoZoo</span></a></li>
                        <li @*class='has-sub'*@>
                            <a href='#'><span>Test</span></a>
                            @*<ul>
                                <li class='has-sub'>
                                    <a href='#'><span>Item 1</span></a>
                                    <ul>
                                        <li><a href='#'><span>Sub Item</span></a></li>
                                        <li class='last'><a href='#'><span>Sub Item</span></a></li>
                                    </ul>
                                </li>
                                <li class='has-sub'>
                                    <a href='#'><span>Item 2</span></a>
                                    <ul>
                                        <li><a href='#'><span>Sub Item</span></a></li>
                                        <li class='last'><a href='#'><span>Sub Item</span></a></li>
                                    </ul>
                                </li>
                            </ul>*@
                        </li>
                        <li><a href='~/ZoneAdmin/Dino/Choix_d'><span>Gestion Dinos</span></a></li>
                        <li><a href='~/ZoneAdmin/Enclos/Choix_e'><span>Gestion Enclos</span></a></li>
                        <li><a href=''><span>Test</span></a></li>  <!--cheminement suivit pour allé à l'action (qui renverra la vue)-->
                        @*<li class='last'><a href='~/Home/Contact'><span>Contact</span></a></li>*@
                        <li class="pull-right">
                            @*@if (SessionUtils.ConnectedUser == null)
                            {*@
                                @*<a href="~/Account/Authenticate"><i class="fa fa-user"></i> Register/Login</a>
                            }
                            else
                            {
                                @:<span><i class="fa fa-user"></i>Bonjour @SessionUtils.ConnectedUser.Pseudo</span>*@
                                <a href=""><i class="fa fa-user"></i> Logout</a>
                            @*   }*@
                            <!--arobase pour rentrer dans C#, arobase: pour en sortir quand on est dans un bloc (pas besoin si on est dans une instruction)-->

                        </li>
                    </ul>


                </div>

            </div>
        </div>
    </div>


    <div class="container body-content" style="margin-top: 75px">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>