﻿@model IEnumerable <interZoo.web.Models.AnimalDisplay>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/dinos")
<h2>Index</h2>

<main>
    <form action="/" method="post">


        @foreach (interZoo.web.Models.AnimalDisplay item in Model)
        {
            <div>
                <img class="portraits" src="~/images/@item.Picture" alt="@item.Nom">
                <div>
                    <h3>@item.Nom</h3>
                    <div>@item.Espece de @item.Age_annees ans et @item.Age_jours jours</div>
                    <p>@item.Description</p>
                    <div>
                        <input type="checkbox" name="@item.Nom"/>
                        <label>Parraine moi!</label>
                    </div>
                </div>
            </div>
        }
        <button>Valider mes choix</button>

    </form>


</main>



