﻿@model IEnumerable<Interzoo.Models.ModelBilleterie.Categorie_ticket>
@using interZoo.web.Tools

@{
    ViewBag.Title = "About";
}

    <div class="wrap-body">

        <!--////////////////////////////////////Container-->
        <section id="container">
            <div class="wrap-container clearfix">
                <div id="main-content">
                    <div class="crumbs">
                        <ul>
                            <li><a href='~/Home'>Home</a></li>
                            <li><a href='~/Home/About'>Single</a></li>
                        </ul>
                    </div>
                    <div class="wrap-content">
                        <article>
                            <div class="art-header">
                                <h1 class="entry-title">Nos tarifs de la saison 2019</h1>
                            </div>
                            <div class="art-content">
                               <h1>Tarifs à la journée</h1>
                               <table>
                                   <tr class="tableauprix">
                                       <th>Catégories</th>
                                       <th>Prix</th>
                                   </tr>
                                   @foreach (var item in Model)
                                   {
                                    <tr class="tableauprix">
                                        <td>@item.Nom_cat (@item.Details)</td>
                                        <td>@item.Prix_ticket €</td>
                                    </tr>
                                   }

                               </table>
                               <h1>Abonnement à l'année</h1>
                                <table>
                                    <tr class="tableauprix">
                                        <th>Catégories</th>
                                        <th>Prix</th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="tableauprix">
                                            <td>@item.Nom_cat   (@item.Details)</td>
                                            <td>@item.Prix_abo €</td>
                                        </tr>
                                    }
                                </table>

                                
                                <p>Connectez vous pour vous abonner ou pour acheter un ticket!!</p>
                                @if (SessionUtils.ConnectedUser != null)
                                {
                                    //le premier new donne le chemin et le deuxième donne un aspect de bouton au lien
                                    @Html.ActionLink("Tickets", "Achats", new { controller = "Home", area = "UserLog" }, new { @class="btn btn-default" })
                                    @Html.ActionLink("Abonnements", "Index", new { controller = "Home", area = "UserLog" }, new { @class = "btn btn-info" })
                                }
                                
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>

