﻿@{
    Layout = "~/Areas/UserLog/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <div id='cssmenu'>
        <ul>
            <li class="active"><a href='~/Home'><span>zAnimal</span></a></li>
            <li class='has-sub'>
                <a href='#'><span>Mes parrainages</span></a>
            </li>
            <li class='has-sub'>
                @Html.ActionLink("Achats", "Achats", new { controller = "Home", area = "UserLog" })
            </li>
            <li class='has-sub'>
                
                <a href='#'><span>Abonnement</span></a>
            </li>
            <li class='has-sub'>
                @Html.ActionLink("Mon Compte", "MonCompte", new { controller = "Home", area = "UserLog" })
                @*<a href='#'><span>Mon Compte</span></a>*@
            </li>
        </ul>
    </div>
</div>


