	
	main{
		/*height: 172vh;*/
		padding-top: 60px;
		background-image:url('./assets/imageZoo/jungle2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin:0px;
	}

	main > form > div {
		height: 200px;
		width: 600px;
		padding: 10px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 40px;
		margin-bottom: 40px;
		display: flex;
	}

	main > form > div:first-of-type {

		margin-top: 0px;

	}

	main > form > div:nth-of-type(even){
		background-color: lightgreen;
		flex-direction:row-reverse;
	}

	main > form > div:nth-of-type(odd){
		background-color: orange;
	}

	.portraits{
		height: 150px;
		width: 195px;
	}

	main > form > div > div {
		padding-left:20px;
		padding-right:20px;
		display: flex; 
		flex-direction: column;
	}

	h3{
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 30px;
	}

    main > form > div > div > div{
		font-weight: bolder;
	}

	button{
		height: 40px;
		padding: 5px;
		width:150px;
		border-radius: 10px;
	}