/*
Free Html5 Responsive Templates : https://www.zerotheme.com/
*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
::-moz-selection{background: #fafcbe none repeat scroll 0 0;color: #6a6c2e;text-shadow:none}
::selection{background: #fafcbe none repeat scroll 0 0;color: #6a6c2e;text-shadow:none}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{color: #fca01c;text-decoration: none;-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
	transition-duration: 0.3s;}
a:hover {opacity: 0.9; text-decoration: underline;}

h1, h2 	{font-size: 25px;line-height: 30px;}
h3, h4	{font-size: 20px;line-height: 20px;}
h5, h6	{font-size: 16px;line-height: 16px;}

h1, h2, h3, h4, h5, h6{clear: both;hyphens: auto; color: #333;}

p, address{margin: 15px 0;}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.f-right{float: right;}
.f-left{float: left;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

hr.line{border-color: #e9e9e9;padding: 0;margin: 0;}
.uppercase{text-transform: uppercase;}
.widget-title{font-weight: 500;text-transform: uppercase;line-height: 1.38;margin-bottom: 20px;font-size: 14px;color: #8a8c8e;}
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {font: 15px/25px Arial;font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;background:#E7E9EB;padding:0 50px;color: #8a8c8e;}
body .wrap-body{}

@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px){
	body{padding: 0;}
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
header{text-align: center;}
.custom-banner {
    position: relative;
    z-index: 0;
}
.custom-banner::before{
    background: rgba(0, 0, 0, 0) linear-gradient(transparent, #1a1c1e) repeat scroll 0 0;
	bottom: 0;
    content: "";
    display: block;
    height: 40%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
	border-bottom: 3px solid #fca01c;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
.home-page{}
.single-page{}
.archive-page{}
.contact-page{}

#container {}
#container .wrap-container{background: #ffffff;}

/* ---content-box--- */
.content-box {}
.content-box .wrap-box {padding: 70px 60px; position: relative;}
.content-box .header {text-align: center; margin-bottom: 30px;color: #212121;letter-spacing: 2px;}
.content-box .header h2{font-size: 30px; line-height: 30px;font-weight: 500;}
.content-box .header .wrapper{padding: 5px; display: inline-block;}

.content-box.boxstyle-1{background:#1A1C1E; color: #8a8c8e;}
.content-box.boxstyle-2{background:#F1F3F5;}

.content-box.box-1 {font-size: 14px;}
.content-box.box-1 .widget-title{}

.content-box.box-2 {}
.portfolio-box {display: block;position: relative;margin: 0 auto 20px;}
.portfolio-box .portfolio-box-caption {display: block;position: absolute;bottom: 0;width: 100%;height: 100%;max-height:370px;max-width:370px;text-align: center;color: #fff;opacity: 0;background: rgba(0, 0, 0,.6);-webkit-transition: all .35s;-moz-transition: all .35s;transition: all .35s;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {position: absolute;top: 50%;width: 100%;text-align: center;transform: translateY(-50%);}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {padding: 0 15px;font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {text-transform: uppercase;font-size: 14px;font-weight: 600;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {font-size: 18px;}
.portfolio-box:hover .portfolio-box-caption {opacity: 1;}

.content-box.box-3 {}


/* ---MainContent-Article--- */
#main-content{}
#main-content .wrap-content{padding: 0 0 50px;}

article{background: #ffffff; color: #3F3F3F; }
article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
article img{ height: auto;width: 100%; border: none;}
article .art-header{}
article .art-content{padding: 40px 60px 0 60px;}
article .art-content blockquote {border-left: 3px solid #1c7791;font-size: 18px;margin: 0 50px;font-style: italic;color: #666;padding-left: 20px;}
article .art-content ol {float: left;text-align: justify;margin: 10px 50px;font-size: 16px;list-style-type: circle;}

article .entry-title {text-align: center;background: url(../../images/banner.jpg) no-repeat center center;min-height: 250px;padding-top: 100px;}
article  h1.entry-title{line-height: 1.2;font-size: 40px;color: #fff;}
article h2{line-height: 1.1;font-size: 20px;margin: 0;}
article .info a{ color: #BE0A0A;}
article .info a:hover{ text-decoration: underline;}

@media (max-width: 1200px) and (min-width: 768px){
	article .art-content{padding: 40px 50px 0;}
}
@media (max-width: 1200px){
	article{margin-bottom: 30px;}
	article .art-content{padding: 30px 30px 0;}
	.archive-page .zerogrid .col-1-2{width:100% !important;}
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer{background: #1A1C1E;font-size: 14px;border-top: 3px solid #fca01c;}

footer .wrap-footer{padding: 70px 60px;}
footer .wrap-footer ul li {margin-bottom: 5px;padding: 10px 0 15px;}
footer .logo img{max-width: 170px;margin-top: 30px;}
footer .col-footer-1 {}

footer .col-footer-2{}
footer .col-footer-2 ul {padding: 0;}
footer .col-footer-2 ul li {list-style: none;margin-bottom: 15px; border-bottom: 1px solid #444;padding-bottom: 10px;}
footer .col-footer-2 ul li:last-child{border-bottom: none;}
footer .col-footer-2 ul li a{color: #999;font-size: 12px;}
footer .col-footer-2 ul li a:hover{color: #fca01c;}

footer .col-footer-3 a{color: #999; border: 1px solid #999; padding: 5px 10px;line-height: 2.2;font-size: 14px;text-transform: capitalize;}
footer .col-footer-3 a:hover{color:#fca01c;}

.copyright{background: #151515;color: #999;}
.copyright .wrapper{padding: 20px;}
.copyright ul.quick-link{float: right;}
.copyright ul.quick-link li {display: inline-block;margin-right: 10px;}
.copyright a{}

@media all and (max-width: 768px){
	.copyright{text-align: center;}
	.copyright ul.quick-link{float: none;margin-top: 10px;}
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact h3{margin-left: 30px;}
#contact_form {padding:0px 25px;}

#ff label {cursor:pointer;margin:5px 0;display:block;font-weight:bold;}

#ff input {display:block;width:100%;color:#111;background-color:#F3F3F3;border:1px solid #ccc;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;}

textarea {display:block;width:100%;height:200px;background-color:#F3F3F3; color:#111;border:1px solid #ccc;padding:10px;margin: 5px 0 25px 0;}

#ff .sendButton {cursor:pointer;background-color:#fca01c;width:35%;color:#ffffff;}
#ff .sendButton:hover {opacity: 0.8;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Button--------------------------------- */
/* ---------------------------------------------------------------------------- */
a.button{background-color: #333;border-radius: 4px; padding: 10px 15px;color: #fff;}
a.button:hover{background-color: #eee;color: #333;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Crumbs---------------------------------- */
/* ---------------------------------------------------------------------------- */
.crumbs {-webkit-box-shadow: 0px 25px 18px -26px rgba(0,0,0,0.75);-moz-box-shadow: 0px 25px 18px -26px rgba(0,0,0,0.75);box-shadow: 0px 25px 18px -26px rgba(0,0,0,0.75);padding:15px 0 15px 30px;}
.crumbs ul {list-style: none;display: inline-table;}
.crumbs ul li {display: inline;}
.crumbs ul li a {display: block;float: left;background: #fca01c;text-align: center;padding: 7px 30px 8px 40px;position: relative;margin: 0 20px 0 0; font-size: 16px;text-decoration: none;color: #fff;}
.crumbs ul li a:after {content: "";  border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #fca01c;position: absolute; right: -20px; top: 0;z-index: 1;-webkit-transition: border 0.3s, -webkit-transform 0.3s;-moz-transition: border 0.3s, -moz-transform 0.3s;-o-transition: border 0.3s, -o-transform 0.3s;transition: border 0.3s, transform 0.3s;}
.crumbs ul li a:before {content: "";  border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #fff;position: absolute; left: 0; top: 0;}
.crumbs ul li:first-child a {border-top-left-radius: 6px; border-bottom-left-radius: 6px;}
.crumbs ul li:first-child a:before {display: none; }
.crumbs ul li:last-child a {padding-right: 40px;padding-left: 50px;border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
.crumbs ul li:last-child a:after {display: none; }		
.crumbs ul li a:hover {background: #222;color: #fff;}
.crumbs ul li a:hover:after {border-left-color: #222;}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Responsive-------------------------------- */
/* ---------------------------------------------------------------------------- */
