table{
    border:2px solid black;
    border-collapse: collapse;
    width:500px;
}

.tableauprix{
    border:2px solid black;
    padding:5px;
}

#entetestep2, #entetestep1,#entetestep3,#entetestep4{
    margin-bottom: 100px;
}

#entetestep2 ul, #entetestep1 ul,#entetestep3 ul,#entetestep4 ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#entetestep2 li, #entetestep1 li,#entetestep3 li,#entetestep4 li{
    height: 50px;
    width: 200px;
    background-color: orange;
    color:white;
    padding:5px;
}

#entetestep2 li:nth-of-type(2), #entetestep1 li:nth-of-type(1),#entetestep3 li:nth-of-type(3),#entetestep4 li:nth-of-type(4){
    background-color: red;
}

#date{
    margin-bottom: 100px;
}

#formstep1{
    width: 500px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:flex-start;

}

#formstep1 label{
    color:white;

}
#formstep2 select{
    height: 26px;
}
.prix{
    width: 100px;
}
#monrecap{
    width:300px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}