﻿
@{
    ViewBag.Title = "Affichage_e";
}

@model IEnumerable<interZoo.web.Areas.ZoneAdmin.Models.Enclos_areaDisplay>
@*@model interZoo.web.Areas.ZoneAdmin.Models.Enclos_search*@

    <h2>Enclos</h2>
<p> @*ici @Model.Query_where ici*@
</p>

<div class="container">
    <!---heading---->
    <header class="heading">Enclos Selectionnés</header><hr></hr>


    <div class="row ">
        <!--- For dinos---->
        <div class="col-sm-12">


            @foreach (interZoo.web.Areas.ZoneAdmin.Models.Enclos_areaDisplay item in Model) //model est le nom par défaut de ce qui est passé en vue. il correspond ici à un object model_general et on peut naviguer dedans comme tel
            {
                <div class="row" style="background-color:white; padding: 8px; border-radius: 5px;">
                    <div class="col-xs-1">
                        @item.Taille
                    </div>
                    <div class="col-xs-1">
                        @item.Capacite_accueil
                    </div>
                    <div class="col-xs-1">
                        @item.Type_envi
                    </div>
                    <div class="col-xs-1">
                        @item.Nom_epoque
                    </div>
                    <div class="col-xs-4">
                        @item.Details_enclos
                    </div>
                    <div class="col-xs-3">
                        @foreach (interZoo.web.Models.AnimalDisplay animal in item.Liste_animalsDisplay) //model est le nom par défaut de ce qui est passé en vue. il correspond ici à un object model_general et on peut naviguer dedans comme tel
                        {
                            <span style="margin-right: 10px;">@animal.Nom</span>
                        }
                    </div>
                    <div class="col-xs-1">
                        <form action="~/ZoneAdmin/Enclos/Affichage_e" method="post">
                            <input style="display:none" name="Id_enclos" id="id_enclos" value="@item.Id_enclos" class="form-control ">
                            <button class="btn btn-warning" typeof="submit" value="create">modifier</button>
                        </form>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</div>

