﻿
@{
    ViewBag.Title = "Ajouter_e";
}

@model interZoo.web.Areas.ZoneAdmin.Models.Recherche_e_display

<h2>Ajout d'enclos</h2>

<p>@ViewBag.Message</p>

<div class="container">
    <!---heading---->
    <header class="heading"> Enclos-Form</header><hr></hr>
    <!---Form starting---->
    <form action="~/ZoneAdmin/Enclos/Ajouter_e" method="post">
        <div class="row ">
            <!--- For Taille---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="firstname">Taille :</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="number" name="Taille" id="taille" placeholder="Entrez la taille (nombre en m²)" class="form-control ">
                    </div>
                </div>
            </div>
            <br />
            <!--- For capacité d'accueil---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="lastname">Capacité d'accueil:</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="number" min="0.0" max="10.5" step="0.1" name="Capacite_accueil" id="capacite" placeholder="Entrez la capacité d'accueil" class="form-control last">
                    </div>
                </div>
            </div>
            <br />
            <!-----For email---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="mail">Type d'environnement :</label>
                    </div>
                    <div class="col-xs-8">
                        <select name="Id_envi" class="form-control">

                            @foreach (interZoo.web.Areas.ZoneAdmin.Models.Environnement_areaDisplay item in Model.Liste_enviAreaDisplay) //Model est le nom par défaut de ce qui est passé en vue. Il correspond ici à un object Model_general et on peut naviguer dedans comme tel
                            {
                                <option value="@item.Id_envi">@item.Type_envi</option>
                            }

                        </select>                   
                     </div>
                </div>
            </div>
            <br />
            <!-----------For époque-------->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="cp">Epoque :</label>
                    </div>
                    <div class="col-xs-8">
                        <select name="Id_epoque" class="form-control">
                            @*<option value="1">Trias</option>
                            <option value="2">Jurassique</option>
                            <option value="3">Crétacé</option>*@

                            @foreach (interZoo.web.Areas.ZoneAdmin.Models.Epoque_areaDisplay item in Model.List_epoqueAreaDisplay) //Model est le nom par défaut de ce qui est passé en vue. Il correspond ici à un object Model_general et on peut naviguer dedans comme tel
                            {
                                <option value="@item.Id_epoque">@item.Nom_epoque</option>
                            }

                        </select>
                    </div>
                </div>
            </div>
            <br />
            <!-----------For dértails-------->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="mail">Détails :</label>
                    </div>
                    <div class="col-xs-8">
                        <textarea name="Details_enclos" id="loc" placeholder="Entrez tout détails utiles concernant l'enclos" class="form-control"></textarea>   
                    </div>
                </div>
            </div>



            <div class="col-sm-12">

                <button class="btn btn-warning" typeof="submit" value="Create">Submit</button>

            </div>
        </div>

    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
