﻿
@{
    ViewBag.Title = "Choix_e";
}

<h2>Gestion Enclos</h2>

<p>@ViewBag.Message</p>

<p>ON EST DANS LE CHOIX ENCLOS HURAAAYY!!!</p>

<a href="~/ZoneAdmin/Enclos/Recherche_e" class="btn btn-default">Search</a> <a href="~/ZoneAdmin/Enclos/ajouter_e" class="btn btn-info">Add</a>