﻿
@model interZoo.web.Areas.ZoneAdmin.Models.Enclos_rencherche_e


@{
    ViewBag.Title = "Recherche_e";
}


<h2>Recherche d'enclos</h2>



 <!---heading---->
<header class="heading"> Enclos-Form</header><hr></hr>
<!---Form starting---->
<form action="~/ZoneAdmin/Enclos/Recherche_e" method="post">
    <div class="row ">
        <!--- For Taille---->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-4">
                    <label class="firstname">Taille :</label>
                </div>
                <div class="col-xs-8">
                    <select name="Taille_supp" class="form-control"> 

                        <option value="0">All</option>
                        <option value="@Model.Liste_tailles[0]"> <= @Model.Liste_tailles[0]</option>
                     
                        @for (int i = 1; i < (Model.Liste_tailles.Count); i++)
                        {
                            <option value="@Model.Liste_tailles[i]"> @Model.Liste_tailles[i-1] < et <= @Model.Liste_tailles[i]</option>
                        }

                        <option value="@Model.Liste_tailles[Model.Liste_tailles.Count -1]"> > @Model.Liste_tailles[Model.Liste_tailles.Count - 1]</option>

                    </select>                
                </div>
            </div>
        </div>
        <br />
        <!--- For capacité d'accueil---->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-4">
                    <label class="lastname">Capacité d'accueil:</label>
                </div>
                <div class="col-xs-8">
                    <select name="Capacite_supp" class="form-control">

                        <option value="0">All</option>
                        <option value="@Model.Liste_capacites[0]"> < @Model.Liste_capacites[0]</option>

                        @for (int i = 1; i < (Model.Liste_capacites.Count); i++)
                        {
                            <option value="@Model.Liste_capacites[i]"> @Model.Liste_capacites[i - 1] < &amp; < @Model.Liste_capacites[i]</option>
                        }

                        <option value="@Model.Liste_capacites[Model.Liste_capacites.Count -1]"> > @Model.Liste_capacites[Model.Liste_capacites.Count - 1]</option>
                    </select>

                </div>
            </div>
        </div>
        <br />
        <!-----For envi---->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-4">
                    <label class="mail">Type d'environnement :</label>
                </div>
                <div class="col-xs-8">
                    <select name="Id_envi" class="form-control">

                        <option value="0">All</option>

                        @foreach (interZoo.web.Areas.ZoneAdmin.Models.Environnement_areaDisplay item in Model.Listes_epoques_et_envi.Liste_enviAreaDisplay) //Model est le nom par défaut de ce qui est passé en vue. Il correspond ici à un object Model_general et on peut naviguer dedans comme tel
                        {
                            <option value="@item.Id_envi">@item.Type_envi</option>
                        }

                    </select>
                </div>
            </div>
        </div>
        <br />
        <!-----------For époque-------->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-4">
                    <label class="cp">Epoque :</label>
                </div>
                <div class="col-xs-8">
                    <select name="Id_epoque" class="form-control">
           
                        <option value="0">All</option>


                        @foreach (interZoo.web.Areas.ZoneAdmin.Models.Epoque_areaDisplay item in Model.Listes_epoques_et_envi.List_epoqueAreaDisplay) //Model est le nom par défaut de ce qui est passé en vue. Il correspond ici à un object Model_general et on peut naviguer dedans comme tel
                        {
                            <option value="@item.Id_epoque">@item.Nom_epoque</option>
                        }

                    </select>
                </div>
            </div>
        </div>
        <br />
        <!-----------For dértails-------->
        @*<div class="col-sm-12">
            <div class="row">
                <div class="col-xs-4">
                    <label class="mail">Détails :</label>
                </div>
                <div class="col-xs-8">
                    <textarea name="Details_enclos" id="loc" placeholder="Entrez tout détails utiles concernant l'enclos" class="form-control"></textarea>
                </div>
            </div>
        </div>*@



        <div class="col-sm-12">

            <button class="btn btn-warning" typeof="submit" value="Create">Search</button>

        </div>
    </div>

</form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
