﻿
@{
    ViewBag.Title = "Update_e";
}

@model interZoo.web.Areas.ZoneAdmin.Models.Update_e_EnclosDisplay_general

<h2>Enclos Datas</h2>

<div class="container">
    <!---heading---->
    <header class="heading">Caractéristiques de l'enclos</header><hr></hr>
    <!---Form starting---->
    <form action="~/ZoneAdmin/Enclos/Update_e" method="post">
        <input style="display: none;" name="Id_enclos" value="@Model.Current_enclos.Id_enclos">

        <div class="row ">
            <!--- For Taille---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="firstname">Taille :</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="number" name="Taille" id="taille" value="@Model.Current_enclos.Taille" class="form-control ">
                    </div>
                </div>
            </div>
            <br />
            <!--- For capacité d'accueil---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="lastname">Capacité d'accueil:</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="number" min="0.0" max="10.5" step="0.1" name="Capacite_accueil" id="capacite" value="@Model.Current_enclos.Capacite_accueil" class="form-control last">
                    </div>
                </div>
            </div>
            <br />
            <!-----For envi---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="mail">Type d'environnement :</label>
                    </div>
                    <div class="col-xs-8">
                        <select name="Id_envi" class="form-control">
                            <option selected="selected" value="@Model.Current_enclos.Id_envi">@Model.Current_enclos.Type_envi</option>

                            @foreach (interZoo.web.Areas.ZoneAdmin.Models.Environnement_areaDisplay item in Model.Red.Liste_enviAreaDisplay) //Model est le nom par défaut de ce qui est passé en vue. Il correspond ici à un object Model_general et on peut naviguer dedans comme tel
                            {
                                if (@item.Id_envi != @Model.Current_enclos.Id_envi)
                                {
                                    <option value="@item.Id_envi">@item.Type_envi</option>
                                }

                            }

                        </select>
                    </div>
                </div>
            </div>
            <br />
            <!-----------For époque-------->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="cp">Epoque :</label>
                    </div>
                    <div class="col-xs-8">
                        <select name="Id_epoque" class="form-control">
                            @*<option value="1">Trias</option>*@
                            <option selected="selected" value="@Model.Current_enclos.Id_epoque">@Model.Current_enclos.Nom_epoque</option>
                            @*<option value="3">Crétacé</option>*@

                            @foreach (interZoo.web.Areas.ZoneAdmin.Models.Epoque_areaDisplay item in Model.Red.List_epoqueAreaDisplay) //Model est le nom par défaut de ce qui est passé en vue. Il correspond ici à un object Model_general et on peut naviguer dedans comme tel
                            {
                                if (@item.Id_epoque != @Model.Current_enclos.Id_epoque)
                                {
                                    <option value="@item.Id_epoque">@item.Nom_epoque</option>
                                }
                            }

                        </select>
                    </div>
                </div>
            </div>
            <br />
            <!-----------For détails-------->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="mail">Détails :</label>
                    </div>
                    <div class="col-xs-8">
                        <textarea name="Details_enclos" id="loc" class="form-control">@Model.Current_enclos.Details_enclos</textarea>
                    </div>
                </div>
            </div>



            <div class="col-sm-12">

                <button class="btn btn-info" typeof="submit" value="Create">Update</button>

            </div>
        </div>

    </form>
</div>



<div class="container">
    <!---heading---->
    <header class="heading">Dinosaurs de l'enclos</header><hr></hr>


    <div class="row ">
        <!--- For dinos---->
        <div class="col-sm-12">
            @*<div class="row">
                <table>*@

            @foreach (interZoo.web.Models.AnimalDisplay item in Model.Current_enclos.Liste_animalsDisplay) //Model est le nom par défaut de ce qui est passé en vue. Il correspond ici à un object Model_general et on peut naviguer dedans comme tel
            {
                //!!!pour bien faire, faudrait un nouveau model animal ici...
                <div class="row" style="background-color:white; padding: 8px; border-radius: 5px;">
                    <div class="col-xs-3">
                        @item.Nom
                    </div>
                    <div class="col-xs-3">
                        @item.Espece
                    </div>
                    <div class="col-xs-3">
                        @item.Age_annees ans et @item.Age_jours
                    </div>
                    <div class="col-xs-2">
                        @item.Genre
                    </div>
                    <div class="col-xs-1">
                        <form action="~/ZoneAdmin/Dino/Update_d" method="post">
                            <input style="display:none" name="ID_animal" id="id_animal" value="@item@*.ID_animal*@" class="form-control ">
                            <button class="btn btn-warning" typeof="submit" value="Create">Modifier</button>
                        </form>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</div>



<div class="container">
    <!---heading---->
    <header class="heading"> Supprimer l'enclos [DEFINITIF]</header><hr></hr>
    <!---Form starting---->
    <div class="row ">

        <form action="~/ZoneAdmin/Enclos/Delete_e" method="post">

            <!-----------For delete-------->

            <input style="display:none" name="Id_enclos" id="Id_enclos" value="@Model.Current_enclos.Id_enclos" class="form-control ">

            <div class="col-sm-12">

                <button class="btn btn-warning" typeof="submit" value="Create">DELETE</button>

            </div>
        </form>
     </div>
 </div>