﻿
@{
    ViewBag.Title = "Achats";
}

<h2>Achat Tickets</h2>
<div id="entetestep1">
    <ul>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
    </ul>
</div>

<form method="post" action="~/UserLog/AchatTicket/Step2" id="formstep1"><!--comme pour les actionlink ici le lien reprend le nom de l'area/controller/action-->
    <label for="input">Choisir le nombre de ticket</label>
    <input type="number" min="0" max="8" name="qutte"/>
    <input type="submit" value="Valider" class="btn btn-info"/>
    @*@Html.ActionLink("Suivant", "Index", new { controller = "AchatTicket", area = "UserLog" }, new { @class = "btn btn-default" })*@
</form>
