﻿@using interZoo.web.Tools
@{
    ViewBag.Title = "Index";
}

<h2>Bonjour @SessionUtils.ConnectedUser.Pseudo</h2><br/>
<p style="margin-top:100px;background-color:white">Je suis dans la zone de log des utilisateurs et ici vont s'afficher les données personnelles</p>
<br />


<p>@TempData["messageConfirmation"]</p>
@Html.ActionLink("Retour au site", "Index", new { controller = "Home", area = "" })

