﻿@using interZoo.web.Tools
@{
    ViewBag.Title = "MonCompte";
}

<h2>Mon Compte</h2>

<input readonly name="nom" value="@SessionUtils.ConnectedUser.IdPersonne"/>
@*<input readonly name="nom" value="@SessionUtils.ConnectedUser.Prenom" />*@

<div>Mes réservations</div>


