﻿
@{
    ViewBag.Title = "Authenticate";
}

<h2>Authenticate</h2>


<div class="container">

    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="login-form">
                <form method="post" role="login">
                    <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
                    <input type="text" name="Pseudo" placeholder="Email" required class="form-control input-lg" value="joestudent@gmail.com" />

                    <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" name="Pwd" />


                    <div class="pwstrength_viewport_progress"></div>


                    <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
                    <div>
                        <a href="~/Account/Register">Create account</a> or <a href="#">reset password</a>
                    </div>

                </form>

                <div class="form-links">
                    <a href="#">www.website.com</a>
                </div>
            </section>
        </div>

        <div class="alert alert-danger">
            @ViewBag.Message  <!--pas besoin de tester si il y a ou non un message: si il n'y en a pas il sera ignoré-->
        </div>

    </div>

    <p>
        @*<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2FW00op" target="_blank"><small>HTML</small><sup>5</sup></a>*@
        <br>
        <br>
    </p>


</div>
