﻿@{
    ViewBag.Title = "Register";
}
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


    <h2>Register</h2>


    <div class="container">
        <!---heading---->
        <header class="heading"> Registration-Form</header><hr></hr>
        <!---Form starting---->
        <form action="/Account/Register" method="post">
            <div class="row ">
                <!--- For Name---->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="firstname">Prénom :</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" name="Prenom" id="fname" placeholder="Entrez votre prénom" class="form-control ">
                        </div>
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="lastname">Nom :</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" name="Nom" id="lname" placeholder="Entrez votre nom" class="form-control last">
                        </div>
                    </div>
                </div>
                <!-----For email---->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="mail">Date de naissance :</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="datetime" name="DateNaiss" id="datenaiss" placeholder="YYYY/MM/DD" class="form-control">
                        </div>
                    </div>
                </div>

                <!-----------For Phone number-------->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="cp">Postal Code:</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" name="CodePostal" id="cp" placeholder="Code postal" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="mail">Localité :</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" name="Localite" id="loc" placeholder="Localité" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="mail">Login :</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" name="Login" id="Login" placeholder="Login" class="form-control">
                        </div>
                    </div>
                </div>


                <!-----For Password and confirm password---->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="pass">Mot de passe :</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="password" name="Pwd" id="password" placeholder="Entrez votre mot de passe" class="form-control">
                        </div>
                    </div>
                </div>


                <div class="col-sm-12">

                    <button class="btn btn-warning" typeof="submit" value="Create">Submit</button>

                </div>
            </div>

        </form>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
