﻿@model interZoo.web.Areas.UserLog.Models.FormModel

@{
    ViewBag.Title = "Step2";
}


<h2>Achat Tickets</h2>

<div id="entetestep2">
    <ul>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
    </ul>
</div>

<form method="post" action="~/UserLog/AchatTicket/Step3" id="formstep2">
    @for (int i = 0; i < Model.Quantite; i++)
    {
        <input type="text" placeholder="Nom" name="nom_@i" required/>
        <input type="text" placeholder="Prénom" name="prenom_@i" required/>
        <!--ci-dessous technique pour mettre un event dans une balise HTML ici si on change le select la valeur du prix change-->
        <select name="categorie_@i" id="@i" onchange="mafonction(this)" required>
            @for (int j = 0; j < Model.liste_ticket_display.Count; j++)
            {
                <option data-prix="@Model.liste_ticket_display[j].Prix_ticket" value="@Model.liste_ticket_display[j].Id_cat">@Model.liste_ticket_display[j].Nom_cat</option>
            }
            
        </select>
        <input readonly id="inputcach_@i" name="inputcach_@i"/>
        @*<p id="p_@i" class="prix" style="background-color:white"></p>*@        
        <br/>
    }
    <input type="submit" value="Valider" class="btn btn-info" />
</form>

<script>
    //"document.getElementById('p_i').innerHTML=this.dataset.prix"
    function mafonction(monselect){
        var mesinput = document.getElementById('inputcach_' + monselect.getAttribute('id'));
        //var monp = document.getElementById('p_' + monselect.getAttribute('id'));

        mesinput.value = monselect.children[monselect.selectedIndex].dataset.prix;
        //monp.innerHTML = monselect.children[monselect.selectedIndex].dataset.prix +"€";

    }
</script>
@Html.ActionLink("Revenir au Step 1", "Achats", new { controller = "Home", area = "UserLog" }, new { @class = "btn btn-default" })

@*<p>le nombre de ticket est de @Model.Quantite</p>*@


