﻿@using interZoo.web.Tools
@{
    ViewBag.Title = "Step4";
}
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/bundles/jqueryui")
}
<h2>Achat Tickets</h2>
<div id="entetestep4">
    <ul>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
    </ul>
</div>

<h2>Confirmation et paiement de la commande</h2>
<section id="monrecap">
    <div>Réservation de @SessionUtils.InfoReservation.Quantite  personnes</div>
    <div>Réservation au nom de @SessionUtils.ConnectedUser.Pseudo</div>
    <div>Date de la réservation : @SessionUtils.UneReservation.Date_reservation</div>
    <div>Les personnes enregistrées sont: </div>

    @for (int j = 0; j < SessionUtils.ListeDesTickets.Count; j++)
    {
        //double montotal = @SessionUtils.ListeDesTickets[j].Prix;
        <p>@SessionUtils.ListeDesTickets[j].Nom   @SessionUtils.ListeDesTickets[j].Prenom  prix =<span class="mesprix">@SessionUtils.ListeDesTickets[j].Prix</span> catégorie= @SessionUtils.ListeDesTickets[j].Id_cat </p>
    }
    <div>Le prix total de la réservation :</div>
    <p id="prixtotal"></p>

    @Html.ActionLink("Revenir au Step 3", "Step3", new { controller = "AchatTicket", area = "UserLog" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Confirmer la réservation", "Paiement", new { controller = "AchatTicket", area = "UserLog" }, new { @class = "btn btn-info" })

</section>
<script>
    var monprixtotal = document.querySelector("#prixtotal");
    var messpan = document.querySelectorAll('.mesprix');
    var leprix=Number(0);
    for (let i = 0; i < messpan.length; i++) {
        console.log(messpan[i].innerHTML);
        leprix +=Number(messpan[i].innerHTML);
    }
    monprixtotal.innerHTML = leprix;
</script>
