﻿@using interZoo.web.Tools
@{
    ViewBag.Title = "Step3";
}

@*le section scripts permet de mettre les liens vers les bundles dans le layout et de l'appliquer à la section dans laquelle je l'ai écrit
Script.Render permettra d'utiliser les scripts js et Styles.Render d'utiliser les pages CSS*@

@section Scripts{ 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/bundles/jqueryui")
}
<h2>Achat Tickets</h2>
<div id="entetestep3">
    <ul>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
        <li>Step 4</li>
    </ul>
</div>
<h2>Choisir la date</h2>
<form method="post" action="~/UserLog/AchatTicket/Step4" id="formstep3">

    <input type="text" id="date" name="Date_reservation">

    <input type="submit" value="Valider" class="btn btn-info" />

</form>
<h2>Récapitulatif de la commande</h2>
<section id="monrecap">
    <div>Réservation de @SessionUtils.InfoReservation.Quantite  personnes</div>
    <div>Réservation au nom de @SessionUtils.ConnectedUser.Pseudo</div>
    <div>Les personnes enregistrées sont: </div>

    @for (int j = 0; j < SessionUtils.ListeDesTickets.Count; j++)
    {
        //double montotal = @SessionUtils.ListeDesTickets[j].Prix;
        <p>@SessionUtils.ListeDesTickets[j].Nom   @SessionUtils.ListeDesTickets[j].Prenom  prix =<span class="mesprix">@SessionUtils.ListeDesTickets[j].Prix</span> catégorie= @SessionUtils.ListeDesTickets[j].Id_cat </p>
    }
    <div>Le prix total de la réservation :</div>
    <p id="prixtotal"></p>
</section>


@Html.ActionLink("Revenir au Step 2", "Step2Get", new { controller = "AchatTicket", area = "UserLog" }, new { @class = "btn btn-default" })

<script>
    var monprixtotal = document.querySelector("#prixtotal");
    var messpan = document.querySelectorAll('.mesprix');
    var leprix=Number(0);
    for (let i = 0; i < messpan.length; i++) {
        console.log(messpan[i].innerHTML);
        leprix +=Number(messpan[i].innerHTML);
    }
    monprixtotal.innerHTML = leprix;
</script>