﻿@using interZoo.web.Tools
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")   

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="header">
                <div id='cssmenu'>
                    <ul>
                        <li class="active"><a href='~/Home'><span>DinoZoo</span></a></li>
                        <li class='has-sub'>
                            <a href='#'><span>Category</span></a>
                            <ul>
                                <li class='has-sub'>
                                    <a href='#'><span>Item 1</span></a>
                                    <ul>
                                        <li><a href='#'><span>Sub Item</span></a></li>
                                        <li class='last'><a href='#'><span>Sub Item</span></a></li>
                                    </ul>
                                </li>
                                <li class='has-sub'>
                                    <a href='#'><span>Item 2</span></a>
                                    <ul>
                                        <li><a href='#'><span>Sub Item</span></a></li>
                                        <li class='last'><a href='#'><span>Sub Item</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @if (SessionUtils.ConnectedUser != null)
                        {
                            <li><a href='~/Parrainage/Index'><span>Parrainage</span></a></li>
                        }
                        <li><a href='~/Home/About'><span>Tarifs</span></a></li>
                        <li><a href='~/ZoneAdmin/Home/Accueil'><span>Admin</span></a></li>  <!--cheminement suivit pour aller à l'action (qui renverra la vue)-->             
                        <li class='last'><a href='~/Home/Contact'><span>Contact</span></a></li>
                        <li class="pull-right">
                            @if (SessionUtils.ConnectedUser == null)
                            {
                                <a href="~/Account/Authenticate"><i class="fa fa-user"></i> Register/Login</a>
                            }
                            else
                            {
                                @:<span><i class="fa fa-user"></i>Bonjour @SessionUtils.ConnectedUser.Pseudo</span>
                                <a href="~/Account/Logout"><i class="fa fa-user"></i> Logout</a>
                            }
                            <!--arobase pour rentrer dans C#, arobase: pour en sortir quand on est dans un bloc (pas besoin si on est dans une instruction)-->

                        </li>    
                    </ul>
                    
                    
                </div>
                
            </div>          
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <div class="zerogrid wrap-footer">
            <div class="row">
                <div class="col-1-3 col-footer-1">
                    <div class="wrap-col">
                        <h3 class="widget-title">About Us</h3>
                        <p>Ut volutpat consectetur aliquam. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum fermentum gravida, metus elit vehicula dui. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum fermentum</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium</p>
                    </div>
                </div>
                <div class="col-1-3 col-footer-2">
                    <div class="wrap-col">
                        <h3 class="widget-title">Recent Post</h3>
                        <ul>
                            <li><a href="#">MOST VISITED COUNTRIES</a></li>
                            <li><a href="#">5 PLACES THAT MAKE A GREAT HOLIDAY</a></li>
                            <li><a href="#">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a></li>
                            <li><a href="#">STARTUP COMPANY???S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-1-3 col-footer-3">
                    <div class="wrap-col">
                        <h3 class="widget-title">Tag Cloud</h3>
                        <a href="#">animals</a>
                        <a href="#">cooking</a>
                        <a href="#">countries</a>
                        <a href="#">city</a>
                        <a href="#">children</a>
                        <a href="#">home</a>
                        <a href="#">likes</a>
                        <a href="#">photo</a>
                        <a href="#">link</a>
                        <a href="#">law</a>
                        <a href="#">shopping</a>
                        <a href="#">skate</a>
                        <a href="#">scholl</a>
                        <a href="#">video</a>
                        <a href="#">travel</a>
                        <a href="#">images</a>
                        <a href="#">love</a>
                        <a href="#">lists</a>
                        <a href="#">makeup</a>
                        <a href="#">media</a>
                        <a href="#">password</a>
                        <a href="#">pagination</a>
                        <a href="#">wildlife</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="zerogrid wrapper">
                Copyright  zAnimal - Designed by <a href="https://www.zerotheme.com">ZEROTHEME</a>
                <ul class="quick-link">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
